<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="card shadow-lg border-0 p-4">
    <h2 class="text-center fw-bold mb-4"><%= t("devise.passwords.edit.change_password") %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <%= render partial: "devise/shared/field",
                 collection: password_edit_data, as: :data,
                 locals: { form: f } %>

      <div class="d-grid gap-3">
        <%= f.submit t("devise.passwords.edit.change_password"), class: "btn btn-primary btn-lg py-3 text-wrap" %>
      </div>
    <% end %>
  </div>
</div>
